#ship2pay_settings .form-list td.label {width: 20%;}
#ship2pay_settings .form-list td.value {width: 80%;}
#ship2pay_settings .form-list td.value select.payment-multiselect {height: 200px;width: 300px; max-width: 100%;}